<footer>
    <address class="footer_wrap">
        <div class="information">
            <div class="myname">
                Bbangso
            </div>
            <a href="mailto:iam.leejihye@gmail.com" class="email">
                bbangso0322@gmail.com
            </a>
            <div class="accounts">
                <a href="http://github.com/bbangso" target="_blank" class="transition">
		    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        <div class="copyright">
            <span>
                &copy; {{ site.author.name }}. <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>
            </span>
        </div>    
    </address>
</footer>
